:root {
    --white: #ffffff;
    --black: #000000;
    --darkergrey: #7a7d7c;
    --darkgrey: #c3c8c9;
    --lightgrey: #f0f2f2;

    /* Tiefschwarz */
    /* Verkehrsweiß */

    --day-bg: #f1f0ea;
    --day-color: #080818;
    --night-bg: #080818;
    --night-color: #f1f0ea;

    --t: red;
    --i: #fcba03;
    --a: green ;
    --o: blue;
    --p: purple;
    --v: teal;
    --w: coral;
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 12px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  scroll-behavior: smooth;
  background-color: var(--day-bg);
  color: var(--day-color);
}
.nd {
  background-color: var(--night-bg);
  color: var(--night-color);
}
a, a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  cursor: pointer;
}
