@font-face {
  font-family: 'DotumChe';
  src: url(../fonts/DotumChe.ttf);
  unicode-range: U+000-5FF; /* Latin glyphs */
}
header {
    display: -ms-grid; /* IE 10 */
    display: grid; /* None yet */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 24px;
}


* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

html {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

body {
  font-size: 1rem;
  line-height: 1.3;
  font-family: 'DotumChe';
  letter-spacing: 0.066rem;
  margin: 0;
  padding: 1.3rem;
  background: #f1f0ea;
  overflow-x: hidden;
  width: 100%;
}

 .topic {
  overflow: visible;
  height: 42px;
  max-height: 42px;
}

.w-layout-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  padding-top: 1rem;
}



img {
  width: 100%;
  display: block;
}

.title {
  color: grey;
}

.grid-text {
  grid-column-start: auto;
}

.container {

}


ul {
    width: 100%;
    height: 100%;
    list-style: none;
}

li {
    display: none;
    width: 100%;
    height: 100%;
}

.translation {
  display: none;
}

button {
  font-family:  'DotumChe';
}

.accordion-item-content {
  display: block;
  overflow: hidden;
  max-width: 100%;
  min-height: auto;
  min-width: 100%;
  margin-top: 0px;
  padding-top: 0px;
  border-top: 0px none #000;
  background-color: #eef4f0;
  color: transparent;
}

.left-arrow {
   left: 0%;
   top: 0%;
   right: auto;
   bottom: 0%;
   min-width: 50%;
 }

 .right-arrow {
   position: absolute;
   margin-right: 0px;
 }


 .imageSlides {
   display: none
 }

 img {
   margin: auto;
   display: block;
   width: 100%;
 }

 /* Our main images-slideshow container */
 .images-slideshow {
   max-width: 612px;
   position: relative;
   margin: auto;
   padding-bottom: 40px;
 }

 /*Style for ">" next and "<" previous buttons */
 .slider-btn{
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   padding: 8px 16px;
   margin-top: -22px;
   user-select: none;
 }

 /* setting the position of the previous button towards left */
 .previous {
   left: 2%;
   left: auto;
   top: 0%;
   right: auto;
   bottom: 0%;
   min-width: 50%;
   cursor: w-resize;

 }
  /* setting the position of the next button towards right */
 .next {
   right: 2%;
   position: absolute;
   left: auto;
   top: 0%;
   right: 0%;
   bottom: 0%;
   display: block;
   min-width: 50%;
   margin-right: 0px;
   cursor: e-resize;
 }

 /* On hover, adding a background color */
 .previous:hover,
 .next:hover {

 }
